<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/branch.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <%- include("./partials/main_left.ejs") %>
        <div class="branchb">
            <h1 class="h1"><%= header %></h1>
            <div class="d-flex flex-wrap mt-3">
                <% for (const file of files) { %>
                    <button type="submit" class="allign btn btn-lg d-flex flex-column m-5 px-5 py-2" style="background: #00B9AE; color:aliceblue; border-radius:2rem; min-width: 3rem;">
                        <a href="<%= file.path  %>"><h1 class="h5"><%= file.name %></h1></a>
                        <div class="ms-3 w-100 d-flex justify-content-between">
                            <div class="d-flex position-relative">
                                <a href="/home" >
                                    <i class="bi bi-bag-heart-fill fa-2x"></i>
                                    <h5><span class="grey">10</span></h5>
                                </a>
                            </div>
                            <a href="<%= file._id  %>/">
                                <i class="bi bi-bag-x-fill fa-2x text-danger"></i>
                            </a>
                        </div>
                    </button>
                <% } %>
            </div>
            <form  method="POST" action="/upload" enctype="multipart/form-data" class="d-flex fixed-bottom flex-row-reverse mb-5 me-4">
                <input type="submit" class="d-inline btn ms-2" value="Upload" style="background: #00B9AE; color:aliceblue;">
                <input type="file" name="file" class="d-inline p-1" style="background: #00B9AE; color:aliceblue;">
            </form>
        </div>
    </div>
    
  
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            ...
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
    </div>
</body>
</html>